<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Store Index</title>
		<h1>Grocery Store</h1>
		<a href="/store/new/">New Product</a>
	</head>
	<body>
		<ul>
			<div>
			<% products.forEach(product => { %>
				<li>
				<%=product.name%>
				</br>
				<a href="/store/<%=product._id%>"><img src="<%=product.img%>"/></a>
				</br>
				<%=product.price%>$
				<form action="/store/<%= product._id %>?_method=DELETE" method="POST" >
					<input type="submit" value="DELETE" />
				</form>
                <a href="/store/<%=product._id %>/edit">Edit Product</a>
				</li>
		<% }) %>
			</div>
			</ul>
	</body>
</html>

<style>
	li {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
	}
	ul {
		list-style-type: none;
	}
	img {
		max-width: 200px;
	}
</style>